<html>
    <head>
        <link rel="stylesheet" href="/style.css"/>
    </head>
    <body>
        <h1 class="make-text-blue">Contact Page</h1>
        <img src="twitty.jpeg" width="300px" height="300px"/>
    </body>
</html>    