<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <%- include("__bootstrap.ejs")%>
</head>

<body>
    <%-include("__header.ejs")%>
    <div class="container mt-3">
        <h1>Product page</h1>
    </div>
</body>

</html>